<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous" version="0.54.2" />
  <package id="Fabulous.LiveUpdate" version="0.54.2" />
  <package id="Fabulous.SimpleElements" version="0.44.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms" version="0.54.2" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="0.54.2" />
  <package id="Fabulous.XamarinForms.OxyPlot" version="0.54.2" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="4.7.1" />
  <package id="FsToolkit.ErrorHandling" version="1.4.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.3" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="xamarinios10" />
  <package id="OxyPlot.Xamarin.Forms" version="1.0.0" targetFramework="xamarinios10" />
  <package id="OxyPlot.Xamarin.iOS" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.5.1" />
  <package id="Xamarin.Forms" version="4.6.0.726" />
</packages>