source https://www.nuget.org/api/v2

group Common
    source https://api.nuget.org/v3/index.json
    source https://ci.appveyor.com/nuget/fsharp-formatting

    nuget FSharp.Formatting prerelease
    nuget Scriban prerelease

    // Is this really needed?  Fake couldn't find fsi, that's why it was added.
    nuget FSharp.Compiler.Tools

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Process
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.FSFormatting
    nuget Fake.DotNet.Fsi
    nuget Fake.DotNet.Paket
    nuget Fake.IO.FileSystem